html,body,div,ul,li,svg{
    margin:0;
    padding:0;
    list-style:none;
}

/*------------Global-------------*/
html,body{
    height: 100%;
    position: relative;
    /*background: rgb(242,244,233);*/
    background:rgb(255,255,255)
}

.container{
    height:100%;
    width:97%;
    position:absolute;
    /*float:right;*/

}
.container .section{
    width:100%;
}
.container .part1{
    float:left;
    width:10%;
}
.container .canvas{
    float:left;
    width:88%;
    height:100%;

    /*position:absolute;*/
}
.container .controls{
    margin-bottom:20px;

}
#map1{
    height:600px;
    /*width:100%*/
    background:#F4F1F1;
}
#map2{
    height:200px;
    width:100%;
    /*position:absolute;*/
    float:left;
    bottom:0px;
    background:white;
    opacity:.8;
}
.meta{
    color:rgb(180,180,180);
}
/*#map2{*/
    /*height:50%;*/
/*}*/

/*-----------tooltip-----------*/

.tooltip {
    position: absolute;
    text-align: center;
    fill: rgb(120, 120, 120);
    font-weight: bold;
    width: 200px;
    height: 18px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgb(255, 255, 0);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
.canvas .custom-tooltip{
    position:absolute;
    /*border:1px solid grey;*/
    width:200px;
    min-height:10px;
    padding:0px 10px;
    opacity:0;
    background-color:rgba(100,100,100,.8)
}
/*------------font-------------*/
body{
    font-size: 16px;
}
h1{ font-size:2em;}
h2{ font-size:1.1em;}
p{ font-size: .9em;
color:#f4f1f1}

/*------------svg--------------*/
/*.neighbor{*/
/*fill:none;*/
/*stroke:green;*/
/*stroke-width:1px;*/
/*}*/