html,body{
    height: 100%;
    position: relative;
    /*background: rgb(242,244,233);*/
    background:rgb(255,255,255)
}
.container{
  height:100%;
}
.row.map{
  height:80%;
}
.review{
  height:20%;
  width:100%;
  /*position:fixed;
  bottom:0px;*/
  /*background-color:rgba(238,238,238,0.5);*/
}
#map1{
  height:100%;
}
#map2{
  height:300px;
}
#map3{
  height:300px;
  position:relative;
  top:-80px;
}
.btn{
  padding:inherit;
  border:inherit;
}
.Buttons{
  padding:5px 20px;
  margin-right: 10px;
  background-color: #ddd;
  width:100%;
  font-size: inherit;
}
.colorBox{
  width:20px;
  height:20px;
  display:inline-block;
  margin-right:5px;
  position:relative;
  top:5px;
  border-radius: 3px;
}
.AllRooms {
  background-color:rgb(255,90,95);  /*purple*/
}
.EntireHome{
  background-color:rgb(144,48,255);  /*pink*/
}
.PrivateRoom{
  background-color:rgb(66,134,244);  /*green*/
}
.SharedRoom{
  background-color:rgb(255,180,0);  /*yellow*/
}
#rInitial:hover{
  background-color: #5bc0de;
  color:white;
}
#rDensity{
  margin-left:24px;
}
#rType{
  margin-left:24px;
}
#legendDiv{
  width:240px;
  min-height:10px;
  padding:0px 10px;
  border-radius: 3px;
  padding:10px;
  background-color:rgba(238,238,238,0.5);
}
.legendSubDiv{
  border-bottom: 1px solid #333;
}
.legendsubDivLast{
  border-bottom: inherit;
}
.custom-tooltip{
}
#notes{
  /*position:relative;*/
  top:20px;
  float:left;
  /*left:20px;*/
  color:#999;
  /*font-style: italic;*/
}
#map1{
  position:absolute;
  top:0;
  left:0;
}
